a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

#banner .d1 {
    width: 100%;
    height: 250px;
    display: block;
    position: absolute;
    left: 0px;
}

section {
    width: 962px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}

section nav h2 {
    width: 210px;
    font-size: 12px;
    padding-top: 14px;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 10px;
}

section nav {
    width: 210px;
    float: left;
}

section nav ul li a {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #c3c3c3;
    font-size: 15px;
    padding-left: 26px;
}

section nav ul li a {
    color: #000;
    display: block;
}

section nav ul li:hover {
    text-decoration: none;
    background-color: #c30d23;
}

section nav ul li a:hover {
    text-decoration: none;
    color: #fff;
}

section nav ul li.two a {
    background-color: #c30d23;
    color: #fff;
}

section article {
    width: 740px;
    height: 830px;
    float: right;
}

section article .p1 {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 10px;
}

section article h2 {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 18px;
    border-bottom: 2px solid #adadad;
    padding-bottom: 5px;
    padding-left: 5px;
}

section article .top {
    width: 720px;
    height: 450px;
    margin: 0 auto;
    margin-top: 28px;
}

section article .p2 {
    font-size: 14px;
    color: #000;
    line-height: 34px;
    text-indent: 2em;
}

section article .top .img {
    width: 720px;
    height: 264px;
    padding-bottom: 45px;
    margin-bottom: 10px;
    overflow: hidden;
}

section article .top img {
    width: 100%;
}

section article .bottom {
    width: 720px;
    margin: 0 auto;
    margin-top: 20px;
}

section article .bottom h3 {
    font-size: 16px;
    color: #333;
    width: 80px;
    margin-top: 40px;
    margin-bottom: 2px;
}

section article .bottom .p3 {
    font-size: 14px;
    color: #000;
    line-height: 34px;
}

section article .bottom .first {
    text-indent: 2em;
}

footer {
    background-color: #f0f0f0;
    height: 150px;
    margin-top: 80px;
}

footer .footer-inner {
    width: 962px;
    margin: 0 auto;
}

footer .footer-inner .footer-left {
    float: left;
    width: 520px;
}

footer .footer-inner .footer-left p {
    padding-top: 45px;
    color: #000;
    font-size: 18px;
}

footer .footer-inner .footer-right .img1 {
    padding-top: 38px;
    padding-left: 40px;
}

footer .footer-inner .footer-right .img2 {
    padding-left: 40px;
    padding-top: 38px;
}
